/* http://meyerweb.com/eric/tools/css/reset/
   v2.0-modified | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}

/* make sure to set some focus styles for accessibility */
:focus {
    outline: 0;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
	display: block;
}

body {
	line-height: 1;
}

ol, ul {
	list-style: none;
}

blockquote, q {
	quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}

table {
	border-collapse: collapse;
	border-spacing: 0;
}

input[type=search]::-webkit-search-cancel-button,
input[type=search]::-webkit-search-decoration,
input[type=search]::-webkit-search-results-button,
input[type=search]::-webkit-search-results-decoration {
    -webkit-appearance: none;
    -moz-appearance: none;
}

input[type=search] {
    -webkit-appearance: none;
    -moz-appearance: none;
    -webkit-box-sizing: content-box;
    -moz-box-sizing: content-box;
    box-sizing: content-box;
}

textarea {
    overflow: auto;
    vertical-align: top;
    resize: vertical;
}

/**
 * Correct `inline-block` display not defined in IE 6/7/8/9 and Firefox 3.
 */

audio,
canvas,
video {
    display: inline-block;
    *display: inline;
    *zoom: 1;
    max-width: 100%;
}

/**
 * Prevent modern browsers from displaying `audio` without controls.
 * Remove excess height in iOS 5 devices.
 */

audio:not([controls]) {
    display: none;
    height: 0;
}

/**
 * Address styling not present in IE 7/8/9, Firefox 3, and Safari 4.
 * Known issue: no IE 6 support.
 */

[hidden] {
    display: none;
}

/**
 * 1. Correct text resizing oddly in IE 6/7 when body `font-size` is set using
 *    `em` units.
 * 2. Prevent iOS text size adjust after orientation change, without disabling
 *    user zoom.
 */

html {
    font-size: 100%; /* 1 */
    -webkit-text-size-adjust: 100%; /* 2 */
    -ms-text-size-adjust: 100%; /* 2 */
}

/**
 * Address `outline` inconsistency between Chrome and other browsers.
 */

a:focus {
    outline: thin dotted;
}

/**
 * Improve readability when focused and also mouse hovered in all browsers.
 */

a:active,
a:hover {
    outline: 0;
}

/**
 * 1. Remove border when inside `a` element in IE 6/7/8/9 and Firefox 3.
 * 2. Improve image quality when scaled in IE 7.
 */

img {
    border: 0; /* 1 */
    -ms-interpolation-mode: bicubic; /* 2 */
}

/**
 * Address margin not present in IE 6/7/8/9, Safari 5, and Opera 11.
 */

figure {
    margin: 0;
}

/**
 * Correct margin displayed oddly in IE 6/7.
 */

form {
    margin: 0;
}

/**
 * Define consistent border, margin, and padding.
 */

fieldset {
    border: 1px solid #c0c0c0;
    margin: 0 2px;
    padding: 0.35em 0.625em 0.75em;
}

/**
 * 1. Correct color not being inherited in IE 6/7/8/9.
 * 2. Correct text not wrapping in Firefox 3.
 * 3. Correct alignment displayed oddly in IE 6/7.
 */

legend {
    border: 0; /* 1 */
    padding: 0;
    white-space: normal; /* 2 */
    *margin-left: -7px; /* 3 */
}

/**
 * 1. Correct font size not being inherited in all browsers.
 * 2. Address margins set differently in IE 6/7, Firefox 3+, Safari 5,
 *    and Chrome.
 * 3. Improve appearance and consistency in all browsers.
 */

button,
input,
select,
textarea {
    font-size: 100%; /* 1 */
    margin: 0; /* 2 */
    vertical-align: baseline; /* 3 */
    *vertical-align: middle; /* 3 */
}

/**
 * Address Firefox 3+ setting `line-height` on `input` using `!important` in
 * the UA stylesheet.
 */

button,
input {
    line-height: normal;
}

/**
 * Address inconsistent `text-transform` inheritance for `button` and `select`.
 * All other form control elements do not inherit `text-transform` values.
 * Correct `button` style inheritance in Chrome, Safari 5+, and IE 6+.
 * Correct `select` style inheritance in Firefox 4+ and Opera.
 */

button,
select {
    text-transform: none;
}

/**
 * 1. Avoid the WebKit bug in Android 4.0.* where (2) destroys native `audio`
 *    and `video` controls.
 * 2. Correct inability to style clickable `input` types in iOS.
 * 3. Improve usability and consistency of cursor style between image-type
 *    `input` and others.
 * 4. Remove inner spacing in IE 7 without affecting normal text inputs.
 *    Known issue: inner spacing remains in IE 6.
 */

button,
html input[type="button"], /* 1 */
input[type="reset"],
input[type="submit"] {
    -webkit-appearance: button; /* 2 */
    cursor: pointer; /* 3 */
    *overflow: visible;  /* 4 */
}

/**
 * Re-set default cursor for disabled elements.
 */

button[disabled],
html input[disabled] {
    cursor: default;
}

/**
 * 1. Address box sizing set to content-box in IE 8/9.
 * 2. Remove excess padding in IE 8/9.
 * 3. Remove excess padding in IE 7.
 *    Known issue: excess padding remains in IE 6.
 */

input[type="checkbox"],
input[type="radio"] {
    box-sizing: border-box; /* 1 */
    padding: 0; /* 2 */
    *height: 13px; /* 3 */
    *width: 13px; /* 3 */
}

/**
 * 1. Address `appearance` set to `searchfield` in Safari 5 and Chrome.
 * 2. Address `box-sizing` set to `border-box` in Safari 5 and Chrome
 *    (include `-moz` to future-proof).
 */

input[type="search"] {
    -webkit-appearance: textfield; /* 1 */
    -moz-box-sizing: content-box;
    -webkit-box-sizing: content-box; /* 2 */
    box-sizing: content-box;
}

/**
 * Remove inner padding and search cancel button in Safari 5 and Chrome
 * on OS X.
 */

input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-decoration {
    -webkit-appearance: none;
}

/**
 * Remove inner padding and border in Firefox 3+.
 */

button::-moz-focus-inner,
input::-moz-focus-inner {
    border: 0;
    padding: 0;
}

/**
 * 1. Remove default vertical scrollbar in IE 6/7/8/9.
 * 2. Improve readability and alignment in all browsers.
 */

textarea {
    overflow: auto; /* 1 */
    vertical-align: top; /* 2 */
}

/**
 * Remove most spacing between table cells.
 */

table {
    border-collapse: collapse;
    border-spacing: 0;
}

html,
button,
input,
select,
textarea {
    color: #222;
}


::-moz-selection {
    background: #b3d4fc;
    text-shadow: none;
}

::selection {
    background: #b3d4fc;
    text-shadow: none;
}

img {
    vertical-align: middle;
}

fieldset {
    border: 0;
    margin: 0;
    padding: 0;
}

textarea {
    resize: vertical;
}

.chromeframe {
    margin: 0.2em 0;
    background: #ccc;
    color: #000;
    padding: 0.2em 0;
}

/* poppins-regular - latin */
@font-face {
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 400;
    src: local(''),
         url('../fonts/poppins-v19-latin-regular.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */
         url('../fonts/poppins-v19-latin-regular.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}
  /* poppins-500 - latin */
@font-face {
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 500;
    src: local(''),
         url('../fonts/poppins-v19-latin-500.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */
         url('../fonts/poppins-v19-latin-500.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}
  /* poppins-600 - latin */
@font-face {
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 600;
    src: local(''),
         url('../fonts/poppins-v19-latin-600.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */
         url('../fonts/poppins-v19-latin-600.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}

html{
    height: 100%;
    box-sizing: border-box;
}


body{
    min-height: 100%;
    display: flex;
    flex-direction: column;
    font-family: 'Poppins', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 30px;
    color: #262937;
}
main{
    flex: 1 1 auto;
}

img{
    width: 100%;
    height: auto;
}

*,
*::before,
*::after{
    box-sizing: inherit;
}

button:hover{
    opacity: .8;
}

/* Wrapper start----------------- */
.wrapper_full{
    max-width: 1596px;
    margin: 0 auto; 
    padding: 0 15px;
    box-sizing: content-box;
}

.wrapper_min{
    max-width: 1246px;
    margin: 0 auto;
    padding: 0 15px;
    box-sizing: content-box;
}

/* Wrapper end----------------- */

/* Header start----------------- */
.header{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 50;
    padding-top: 34px;
    align-items: center;
}

.header_inner{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}
.header_logo{
    width: 166px;
    height: 29.62px;
    align-self: center;
}

.header_nav{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    padding-left: 15px;
    margin-left: auto;

    align-self: center;
}

.header_nav_list{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.header_nav_item{
    margin-right: 40px;
}

.header_nav_item:last-child{
    margin-right: 80px;
}

.header_nav_link{
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 30px;
    color: #FFFFFF;
    text-decoration: none;
}

.header_nav_link:hover{
    opacity: 0.5;
}

.header_nav_btn{
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    color: #262937;

    width: 171px;
    height: 61px;
    border-radius: 49px;
    border: none;

}

/* Header end----------------- */
/* Intro start----------------- */
.intro_section{
    background-color: #007BFC;
    margin-bottom: 100px;
}

.intro{
    display: flex;
    justify-content: space-between;
    padding-top: 183px;
    padding-bottom: 183px;

    position: relative;
}

.intro_inner{
    width: 656px;
    height: auto;
    align-self: center;
}

.intro_title_logo{
    width: 353px;
    height: 63px;
    margin-bottom: 16px;
}

.intro_title{
    font-weight: 600;
    font-size: 64px;
    line-height: 96px;
    color: #FFFFFF;
    margin-bottom: 37px;
}

.intro_sub_title{
    font-weight: 400;
    font-size: 20px;
    line-height: 30px;

    color: rgba(255, 255, 255, 0.5);

    margin-bottom: 40px;
}

.intro_btn{
    border: none;
    width: 221px;
    height: 60px;
    border-radius: 49px;

    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    color: #262937;
}

.intro_img{
    width: 777px;
    height: 714px;
}

.arrow_down{
    width: 40px;
    height: 40px;
    background: #FFFFFF;
    position: absolute;
    bottom: 30px;
    left: 50%;
    transform: translateX(-50%);

    border-radius: 50%;
}
/* Intro end----------------- */


/* Offer srart----------------- */

.offer_section{
    margin-bottom: 151px;
}

.offer_head{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    margin-bottom: 60px;
}

.offer_title{
    font-weight: 600;
    font-size: 48px;
    line-height: 72px;
    color: #262937;
}

.offer_btn{
    width: 345px;
    height: 54px;
    background: #007BFC;
    border-radius: 76px;
    border: none;


    font-weight: 400;
    font-size: 20px;
    line-height: 30px;
    color: #FFFFFF;
}

.offer_cards{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.offer_card{
    width: 467px;
    height: auto;
    display: flex;
    flex-direction: column;
}

.offer_pic{
    width: 467px;
    height: 291px;

    margin-bottom: 20px;
}

.offer_card_title{
    font-weight: 600;
    font-size: 24px;
    line-height: 36px;
    color: #262937;

    margin-bottom: 10px;
}

.offer_card_sub-title{
    font-weight: 400;
    font-size: 18px;
    line-height: 27px;
    color: rgba(38, 41, 55, 0.6);

    margin-bottom: 25px;

}

.check_box_container{
    margin: auto 0 0 0;
}

.offer_chek_box{
    display: flex;
    flex-wrap: wrap;
    margin-bottom: 26px;
}

.offer_chek_box:last-child{
    margin-bottom: 0;
}

.offer_check_mark{
    border: 1px solid #007BFC;
    width: 30px;
    height: 30px;
    border-radius: 5px;
    background: url(/images/icon_vector_svg/Vector_blue.svg) no-repeat center;

    margin-right: 15px;
}

.offer_check_mark-text{
    font-weight: 400;
    font-size: 18px;
    line-height: 27px;
    color: rgba(38, 41, 55, 0.9);

    align-self: center;
}
/* Offer end----------------- */

/* Modern start----------------- */

.modern_section{
    background: #007BFC;
    margin-bottom: 118px;
}

.modern_inner{
    display: flex;
    justify-content: space-between;
    padding-bottom: 114px;
}

.modern_desc{
    width: 799px;
}

.modern_title{
    font-weight: 600;
    font-size: 40px;
    line-height: 60px;
    color: #FFFFFF;
    padding-top: 114px;

    margin-bottom: 20px;
}

.modern_sub_title{
    width: 656px;
    font-weight: 400;
    font-size: 20px;
    line-height: 30px;
    color: rgba(255, 255, 255, 0.5);

    margin-bottom: 40px;
}

.modern_button{
    width: 210px;
    height: 60px;
    background: #FFFFFF;
    border-radius: 49px;
    border: none;


    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    color: #262937;
}





.modern_container_box{
    display: flex;
    justify-content: end;
    padding-top: 126px;
}

.modern_container_box_inner{
    margin-right: 80px;
}

.modern_container_box_inner:last-child{
    margin-right: 0;
}

.modern_chek_box{
    display: flex;
    flex-wrap: wrap;
    margin-bottom: 26px;
}

.modern_chek_box:last-child{
    margin-bottom: 0;
}

.modern_check_mark{
    border: 1px solid #FFFFFF;
    width: 30px;
    height: 30px;
    border-radius: 5px;
    background: url(/images/icon_vector_svg/Vector_white.svg) no-repeat center;

    margin-right: 15px;
}

.modern_check_mark-text{
    font-weight: 400;
    font-size: 18px;
    line-height: 27px;
    color: rgba(255, 255, 255, 0.9);

    align-self: center;
}
/* Modern end----------------- */

/* Busibess start----------------- */
.business_section{
    margin-bottom: 89px;
}

.business_inner{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.business_desc{
    width: 656px;
}

.business_title{
    width: 522px;
    font-weight: 600;
    font-size: 40px;
    line-height: 60px;

    color: #262937;

    margin-bottom: 20px;
}

.business_sub_title{
    font-weight: 400;
    font-size: 20px;
    line-height: 30px;

    color: #262937;

    margin-bottom: 40px;
}

.business_btn{
    width: 210px;
    height: 60px ;

    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    color: #FFFFFF;

    background: #007BFC;
    border-radius: 49px;
    border: none;
}

.business_img{
    width: 551px;
    height: 351px;
}
/* Busibess end----------------- */

/* Footer start----------------- */
.footer{
    background: #007BFC;
    position: relative;
}

.footer::after{
    position: absolute;
    display: block;
    content: "";
    width: 100%;
    height: 1px;
    bottom: 90px;
    left: 0;
    background-color:  rgba(255, 255, 255, 0.3);

}

.footer_subscribe_form{
    max-width: 1124px;
    margin: 0 auto;
    padding-top: 80px;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    padding-bottom: 108px;

}

.footer_form_title{
    font-weight: 600;
    font-size: 40px;
    line-height: 60px;
    color: #FFFFFF;

}

.footer_form_group{
    position: relative;
}

.footer_form_input{
    width: 359px;
    height: 44px;
    margin-right: 30px;
    border: none;
    border-bottom: 1px solid rgba(255, 255, 255, 0.3);
    outline: 0;
    background-color: transparent;


    font-weight: 400;
    font-size: 20px;
    line-height: 30px;
    color: #FFFFFF;

}

.footer_form_label{
    position: absolute;
    top: 5px;
    left: 0;
    font-weight: 400;
    font-size: 24px;
    line-height: 29px;
    color: rgba(255, 255, 255, 0.8);
    pointer-events: none;
}

.footer_form_input:focus ~ .footer_form_label{
    top: -18px;
    font-size: 12px;
    transition: .3s linear;
}

.footer_form_btn{
    width: 160px;
    height: 60px;

    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    color: #262937;

    border: none;

    background: #FFFFFF;
    border-radius: 49px;
}


.footer_cards{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    padding-bottom: 126px;
}

.footer_info{
    width: 341px;
}


.footer_logo_pic{
    width: 166px;
    height: 29.62px;
    margin-bottom: 20.38px;
}

.footer_desc{
    font-weight: 400;
    font-size: 20px;
    line-height: 30px;
    color: rgba(255, 255, 255, 0.8);
}

.about_us{
    display: flex;
    justify-content: space-between;
}

.footer_nav{
    margin-right: 150px;
}

.footer_nav_title{
    font-weight: 500;
    font-size: 32px;
    line-height: 48px;
    color: #FFFFFF;

    padding-bottom: 15px;
}

.footer_item{
    padding-bottom: 15px;
}

.footer_item:last-child{
    padding-bottom: 0;
}

.footer_nav_link{
    font-weight: 400;
    font-size: 20px;
    line-height: 30px;
    color: white;

    text-decoration: none;
}

.footer_nav_link:hover{
    color: rgba(255, 255, 255, 0.8);
}



.contact_us_title{
    font-weight: 500;
    font-size: 32px;
    line-height: 48px;
    color: #FFFFFF;

    padding-bottom: 15px;
}

.contact_us_info{
    padding-bottom: 15px;
}

.contact_us_info:last-child{
    padding-bottom: 0;
}

.contact_us_link{
    font-weight: 400;
    font-size: 20px;
    line-height: 30px;
    color: #FFFFFF;

    text-decoration: none;
}

.contact_us_link:hover{
    color: rgba(255, 255, 255, 0.8);
}

.contact_us_pic{
    width: 24px;
    height: 24px;
    padding-right: 15px;
}

.footer_down{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    padding-bottom: 20px;
}


.footer_social_link{
    margin-right: 50px;
    text-decoration: none;
}
.footer_social_link:last-child{
    margin-right: 0;
}

.footer_social_link:hover{
    opacity: .7;
}

.footer_social_pic{
    width: 50px;
    height: 50px;
}
.TeslaCom{
    font-weight: 400;
    font-size: 20px;
    line-height: 30px;
    color: rgba(255, 255, 255, 0.8);
    align-self: center;
}

/* Footer end----------------- */